@charset "utf-8";
/*reset*/

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select { margin: 0; padding: 0;}
body, input, textarea, select, button, table { font-size: 1em; line-height: 1.25em;}
table { border-collapse: collapse; border-spacing: 0;}
ul, ol { list-style: none outside none;}
em, i, address { font-style: normal;}
img { max-width: 100%; height: auto; border: none;}
:focus { outline: 0;}
body { color: #333; font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif; font-size: 1em; max-width: 640px; margin-left: auto; margin-right: auto;}
a { color: #333; text-decoration: none;}
.clearfix{ clear: left;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}

input[type=submit],input[type=button]{-webkit-appearance:none;-webkit-box-align:center;-webkit-rtl-ordering:logical;-webkit-user-select:text;background-attachment:scroll;background-clip:border-box;background-origin:padding-box;box-sizing:border-box}
input[type=text],input[type=password],input[type=number],input[type=url],input[type=email],input[type=tel]{-webkit-appearance:none;-webkit-box-align:center;-webkit-box-sizing:border-box;-webkit-rtl-ordering:logical;-webkit-user-select:text;background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;border:0 none;-webkit-border-radius: 0;
-webkit-tap-highlight-color:transparent;}
input[type=checkbox],input[type=radio],select{vertical-align:middle}
header,nav,footer,section,acticle{display:block}

*,*:before, *:after{box-sizing: border-box;}



